@model List<Cliente>
@{Layout = "/Views/Shared/Layout.cshtml";}

    <h1>Clientes</h1>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <div class="col-lg-12" style="text-align: right;"><button class="btn btn-light my-2 my-sm-0" type="submit">Buscar</button></div>
    </form>
</nav>


    <table class="table table-hover">
        @foreach(Cliente p in Model)
        {
        <tr>
            <td>@p.ClienteId</td>
            <td>@p.Name</td>
            <td>@p.Email</td>
            <td>@p.Password</td>
           
            <td><a class="btn btn-primary" href="/cliente/detalhes/@p.ClienteId">Detalhes</a></td>
            <td><a class="btn btn-danger" href="/cliente/delete/@p.ClienteId">Deletar</a></td>
            <td><a class= "btn btn-warning" href="/cliente/update/@p.ClienteId">Editar</a></td>
            @* <td><a href="/cliente/details/@p.ClienteId">Detalhes</a></td> *@
            @* <td><a href="/cliente/delete/@p.ClienteId">Deletar</a></td> *@
            @* <td><a href="/cliente/update/@p.ClienteId">Editar</a></td> *@
        </tr>
        }
    </table>

    <a class="btn btn-success" href="/cliente/create">Adicionar</a>
