@model Produto
<<<<<<< HEAD
@{Layout = "/Views/Shared/Layout.cshtml";}
    <h1>Detalhes do Produtos</h1>
    @Model.Nome
=======
@{ Layout = "/Views/Shared/Layout.cshtml"; }

<h1>Detalhes do Produtos</h1>
@Model.Nome
>>>>>>> c1a070c5cf80e4c556a29d71a8b6b1fb171d2257
