@model List<Produto>
<<<<<<< HEAD
@{Layout = "/Views/Shared/Layout.cshtml";}
=======
@{ Layout = "/Views/Shared/Layout.cshtml"; }
>>>>>>> c1a070c5cf80e4c556a29d71a8b6b1fb171d2257

    <h1>Lista de Produtos</h1>

    <table class="table table-hover">
        @foreach(Produto p in Model)
        {
        <tr>
            <td>@p.ProdutoId</td>
            <td>@p.Nome</td>
            <td>@p.Preco</td>
            <td><a href="/produto/details/@p.ProdutoId">Detalhes</a></td>
<<<<<<< HEAD
            <td><a href="/produto/delete/@p.ProdutoId">Deletar</a></td>
            <td><a href="/produto/update/@p.ProdutoId">Editar</a></td>
             @* <td><a class="btn btn-outline-danger" href="/produto/create">Deletar</a>*@
=======
            <td><a href="/produto/delete/@p.ProdutoId">Apagar</a></td>
            <td><a href="/produto/update/@p.ProdutoId">Editar</a></td>
>>>>>>> c1a070c5cf80e4c556a29d71a8b6b1fb171d2257
        </tr>
    }
    </table>

<<<<<<< HEAD
    <a class="btn btn-primary" href="/produto/create">Adicionar</a>
=======
    <a class="btn btn-primary" href="/produto/create">Adicionar</a>
>>>>>>> c1a070c5cf80e4c556a29d71a8b6b1fb171d2257
