@model Produto
<<<<<<< HEAD
@{Layout = "/Views/Shared/Layout.cshtml";}


    <h1>Atualização de Produtos</h1>

<form action = "/produto/update" method="POST">

    <div>
        <label>Nome</label>
        <input type = "text" class="form-control" name="nome" value=@Model.Nome/>
=======
@{ Layout = "/Views/Shared/Layout.cshtml"; }

<h1>Atualização de Produtos</h1>

<form action="/produto/update" method="POST">

    <div>
        <label>Nome</label>
        <input type="text" class="form-control" name="nome" value="@Model.Nome" />
>>>>>>> c1a070c5cf80e4c556a29d71a8b6b1fb171d2257
    </div>

    <div>
        <label>Preço</label>
<<<<<<< HEAD
        <input type = "text" class="form-control" name="preco"value=@Model.Preco/>
    </div>

    <button class="btn btn-primary" style="margin-top:20px">Salvar</button>

    
=======
        <input type="text" class="form-control" name="preco" value="@Model.Preco" />
    </div>

    <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>

>>>>>>> c1a070c5cf80e4c556a29d71a8b6b1fb171d2257
</form>